.program img{
    width: 90px;
    height: 89px;
    
}
.program{
    width:120px;
    word-wrap: break-word;
}

.star{
    padding:0 3px;
}

@media (max-width:768px) {

    .program{
        padding-bottom: 50px;
    }


}