.navbar{
    display: inline-flex;
    padding:33px 0;
    width: 100%;
    justify-content: space-between;
    
}

.navbar a:active, a:hover, a{
    text-decoration: none;
    color: rgba(130, 130, 130, 1);
    font-size: 18px;
    
    
}
 hr{
    color: rgba(130, 130, 130, 1);
    border: none;
    height: 1px;
    background-color: rgba(130, 130, 130, 1);
 }