.navbar{
    padding:33px 0px;
    width: 100%;
    height: 30px;
    background-color: white;
    position: fixed;
    left:0;
    text-align: center;
    top: 0;
    z-index: 1;
}
.navbarItems{
    display: inline-flex;
    width: 70%;
    justify-content: space-between;

}

 hr{
    color: rgba(130, 130, 130, 1);
    border: none;
    height: 1px;
    background-color: rgba(130, 130, 130, 1);
 }

